USE [master]
GO
/****** Object:  Database [alumnos]    Script Date: 14/11/2025 02:04:07 a. m. ******/
CREATE DATABASE [alumnos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'alumnos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\alumnos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'alumnos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\alumnos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [alumnos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [alumnos]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 14/11/2025 02:04:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nombre_completo] [varchar](100) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calificaciones]    Script Date: 14/11/2025 02:04:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calificaciones](
	[idCalif] [int] IDENTITY(1,1) NOT NULL,
	[idAlum] [int] NOT NULL,
	[tarea_a] [decimal](4, 2) NOT NULL,
	[tarea_b] [decimal](4, 2) NOT NULL,
	[tarea_c] [decimal](4, 2) NOT NULL,
	[proyecto1] [bit] NOT NULL,
	[proyecto2] [bit] NOT NULL,
	[proyecto3] [bit] NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCalif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alumnos] ON 

INSERT [dbo].[alumnos] ([id], [nombre], [apellido], [nombre_completo], [fecha_creacion]) VALUES (1, N'Juan', N'García', N'Juan García', CAST(N'2025-11-11T00:45:35.603' AS DateTime))
INSERT [dbo].[alumnos] ([id], [nombre], [apellido], [nombre_completo], [fecha_creacion]) VALUES (2, N'María', N'Rodríguez', N'María Rodríguez', CAST(N'2025-11-11T00:45:35.603' AS DateTime))
INSERT [dbo].[alumnos] ([id], [nombre], [apellido], [nombre_completo], [fecha_creacion]) VALUES (3, N'Carlos', N'González', N'Carlos González', CAST(N'2025-11-11T00:45:35.603' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[calificaciones] ON 

INSERT [dbo].[calificaciones] ([idCalif], [idAlum], [tarea_a], [tarea_b], [tarea_c], [proyecto1], [proyecto2], [proyecto3], [fecha_creacion]) VALUES (1, 1, CAST(6.50 AS Decimal(4, 2)), CAST(7.00 AS Decimal(4, 2)), CAST(7.50 AS Decimal(4, 2)), 0, 0, 0, CAST(N'2025-11-11T00:45:35.613' AS DateTime))
INSERT [dbo].[calificaciones] ([idCalif], [idAlum], [tarea_a], [tarea_b], [tarea_c], [proyecto1], [proyecto2], [proyecto3], [fecha_creacion]) VALUES (2, 2, CAST(7.00 AS Decimal(4, 2)), CAST(7.50 AS Decimal(4, 2)), CAST(8.00 AS Decimal(4, 2)), 0, 0, 0, CAST(N'2025-11-11T00:45:35.613' AS DateTime))
INSERT [dbo].[calificaciones] ([idCalif], [idAlum], [tarea_a], [tarea_b], [tarea_c], [proyecto1], [proyecto2], [proyecto3], [fecha_creacion]) VALUES (3, 3, CAST(7.50 AS Decimal(4, 2)), CAST(8.00 AS Decimal(4, 2)), CAST(6.00 AS Decimal(4, 2)), 0, 0, 1, CAST(N'2025-11-11T00:45:35.613' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[calificaciones] OFF
GO
/****** Object:  Index [IX_calificaciones_idAlum]    Script Date: 14/11/2025 02:04:07 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_calificaciones_idAlum] ON [dbo].[calificaciones]
(
	[idAlum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alumnos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[calificaciones] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD  CONSTRAINT [FK_calificaciones_alumnos] FOREIGN KEY([idAlum])
REFERENCES [dbo].[alumnos] ([id])
GO
ALTER TABLE [dbo].[calificaciones] CHECK CONSTRAINT [FK_calificaciones_alumnos]
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD CHECK  (([tarea_a]>=(6) AND [tarea_a]<=(10)))
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD CHECK  (([tarea_b]>=(6) AND [tarea_b]<=(10)))
GO
ALTER TABLE [dbo].[calificaciones]  WITH CHECK ADD CHECK  (([tarea_c]>=(6) AND [tarea_c]<=(10)))
GO
USE [master]
GO
